.cinza{
	background: rgba(227,227,227,1);
}
.navegador{
	padding-bottom: 20px;
}
.branco{
	color: white;
}
.glyphicon{
	text-align: center;
}
.jambutron{
	margin-left: 10px;
}

.col-centered {
display:inline-block;

}

.slide-fig{
	border: -1000px 0;
}

#client-slide{
	margin-bottom:50px;
}

#jssor_1{
	position:relative;
	border:0;
	margin: 0 auto;
	top:0px;
	left:0px;
	width: 980px;
	height:100px;
	overflow:hidden;
	visibility:hidden;
}

#loading-slide{
	position:absolute;
	border:0;
	top:0px;
	left:0px;
	background:url('img/loading.gif') no-repeat 50% 50%;
}

#slides{
	border:0;
	cursor:default;
	position:relative;
	top:0px;
	left:0px;
	width: 980px;
	height:100px;
	overflow:hidden;
}

.img-thumbnail{
	margin: none;
}

.col-sm-5{
	margin: 10px 20px;
}

.jumbotron.col-sm-5{
	height: 250px;
	text-align: justify;
}