<nav class="navbar navbar-default navegador cinza" style="color: white; margin-bottom: 50px;">
  		<div class="container cinza">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="index.php"><img src="img/logo.png" class="img-responsive img-rounded" style="padding:0; margin:0;width:50px;"></a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="color:black;">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="index.php">HOME</a></li>
		        <li><a href="portifolio.php">PORTIFOLIO</a></li>
		        <li><a href="sobre.php">SOBRE</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>