<footer class="cinza">
			<div class="container cinza">
				<div class="row" style="font-size:12px; margin:0;">
					<div class="col-sm-5">
					<a class="navbar-brand" href="#"><img src="img/logo.png" class="img-responsive img-rounded" style="width:50px;"></a></p>
					<h3>RT Eletricidade e Informática</h3><br>
					<br><br>
					<a class="btn btn-block btn-social btn-facebook" href="https://www.facebook.com/RtEletricidadeInformatica/">
            				<span class="fa fa-facebook">F</span> Facebook RT Eletricidade e Informática
          				</a>
          				<br>
					TELEFONE:<br>
					 (62) 9 9614-0395 <a href="tel:062996140395"><span class="glyphicon glyphicon-phone"></span></a>
					 <br>
					 <hr>
					 
					</div>
					<div class="col-sm-2">
						
					</div>
					<div class="col-sm-5">
						<br>E-MAIL<br><a href="mailto:contato@ribeirotannus.com.br">
					 contato@ribeirotannus.com.br</a><br>
					 <hr>
					 ENDEREÇO<br>
					 Goiânia - Goiás.
					 <hr>
					 <!--
					 <br>
					 Design by Gabrielle Perdigão
					 -->
					</div>
				</div>
			</div>
		</footer>